extends layout

block content
  h2 Register
  form(method="POST",action="/register")
    p
      input.w3-input.w3-border(type='text', placeholder='username', required='', name='username')
    p
      input.w3-input.w3-border(type='password', placeholder='password', required='', name='password')
    p
      button.w3-button.w3-black(type='submit')
        i.fa.fa-paper-plane
        |  Register